SpaceCombat_V2.vcxproj
SpaceCombat_V2.vcxpro
SDL2.dll
assimp-vc140-mt.dll
SOIL.VC

/Release/
/Debug/
/openal/
/oggvorbis/
/freetypeinclude/
/FreeTypeLib/
/glm/
/SDLinclude/
/SDLlib/
/assimpinclude/
/AssimpLib/
/SOIL/
/SOILlib/